@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,450;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryColor: #03045e;
    --secondaryColor: #03045e;
    --tertioryColor: #003458;
    --lightColor: #fff;
    --shadow: grey;
}

/* Giving a margin and padding */
.except {
    margin: 0 5%;
}
body{
    overflow: hidden;
}

/* header */
header {
    height: 100vh;
}

/* my nav */
nav {
    margin-top: 6vh;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    animation: nav 0.8s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

/* nav animation */
@keyframes nav {
    0% {
        opacity: 100%;
        transform: translateY(-30px) scale(0%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px) scale(100%);
    }
}

/* When nav is scrolled */
.nav-colored {
    background-color: var(--primaryColor);
    box-shadow: 0px 2px 10px grey;
    color: var(--lightColor);
    animation: color 0.5s ease-in-out;

}

/* Animation on scrolling down */
@keyframes color {
    0% {
        background-color: transparent;
        box-shadow: 0px 0px 0px transparent;
    }

    100% {
        background-color: var(--primaryColor);
        box-shadow: 0px 2px 10px grey;


    }
}

/* nav at its default i.e at zero scroll */
.nav-transparent {
    background-color: transparent;
    color: white;
    animation: trans 0.5s ease-in-out;
}

/* scrolling up animation */

@keyframes trans {
    0% {
        background-color: #fff;
    }

    100% {
        background-color: transparent;
    }

}

/* text logo design */
#page-logo {
    color: var(--primaryColor);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* unorderd list of menu bar without logo  */

.navul {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navli {
    list-style: none;
    padding: 0.8rem 1.2rem;
    transition: 0.4s ease-in-out;
}

.navli a {
    font-weight: 500;
    color: var(--secondaryColor);
    text-decoration: none;
    cursor: pointer;
}

/* Sign up button and on menu items hover style */

/* I add .mybtn to also style that in the same way  */
.navul li:nth-child(5),
nav li:hover, .mybtn {
    background-color: var(--primaryColor);
    padding: 0.3rem 0.85rem;
    margin-left: 2rem;
    margin-right: 0px;
    border-radius: 10px;
    text-align: center;
    transition: 0.6s ease-in-out;
}

.navul li:nth-child(5) a,
nav li:hover a ,.mybtn{

    color: var(--lightColor);

}
.navul li:nth-child(5):hover{
    background-color: var(--lightColor);
    padding: 0.3rem 0.85rem;
    margin-left: 2rem;
    margin-right: 0px;
    border-radius: 0px;
    text-align: center;
    transition: 0.6s ease-in-out;
}
.navul li:nth-child(5):hover a{
    color: var(--primaryColor);
}

.mybtn {
    background-color: var(--lightColor);
    display: block;
    color: var(--primaryColor);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 1.1rem auto;
    border-radius:20px ;
    border: none;
    outline: none;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}
.mybtn:hover{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    border-radius: 0px;
    text-align: center;
    transition: 0.6s ease-in-out;
}


/* Main content starts here */


h1{
    display: block;
    margin: 20px auto !important;
    text-align: center;
    color: var(--primaryColor);

}

.blur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 45%;
    margin:40px auto;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.138);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
}
form{
    width: 100%;
    padding-top: 10px;

}
.field input,.field textarea{
border: none;
padding: 5px 10px;
font-size: 17px;
outline: none;
border-radius: 15px;
width: 100% ;
display: block;
margin: 5px auto;
}
input::placeholder , textarea::placeholder{
    color: var(--primaryColor);
}
input:focus::-webkit-input-placeholder ,textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.1s ease-in-out;
}
.fields, .field{
    margin: 10px 0px;
    padding: 0px 50px !important;
}

.name input , .email input{
    display: inline;
    margin: 0px;
    width: 100%;
}
.name,.email{
    display: inline !important;
    margin: 0px !important;
    width: 48% !important;
    padding: 0px !important;
}
.fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    width: 300rem;
    height: 300rem;
    position: absolute;
    background-color: var(--primaryColor);
    border-radius: 50%;
    top: 25vh;
    left: 15%;
    transform: translateX(-50%);
    overflow: hidden;
}
.circle2{
    width: 10rem;
    height: 10rem;
    position: absolute;
    background-color: var(--lightColor);
    border-radius: 50%;
    top: 70vh;
    right: 20%;
    animation: circle2 10s infinite;
}
@keyframes circle2 {
    0%,100%{
        transform: translateY(0%);
    }
    70%,50%{
        transform: translateY(5%);
    }
}






/* Main content ends here */


/* On scroll properties which will over write the above one when there class name is changed by js */

.nav-colored div {
    color: var(--lightColor) !important;

    transition: 0.5s ease-in-out;
}
.nav-colored ul li a {
    color: var(--lightColor);

    transition: 0.5s ease-in-out;
}
.nav-colored ul li:hover a {
    color: var(--primaryColor);

    transition: 0.5s ease-in-out;
}


.nav-colored .navul li:nth-child(5),
.nav-colored li:hover {
    background-color: var(--lightColor);
}
.nav-colored .navul li:nth-child(5):hover {
    background-color: var(--primaryColor);
}

.nav-colored .navul li:nth-child(5) a {
    color: var(--primaryColor);
}
.nav-colored .navul li:nth-child(5):hover a {
    color: var(--lightColor);
}